.btn {
	display: block;
	cursor: pointer;
	background-color: #58a6ff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	color: #fff;
	transition: background-color 0.3s, color 0.3s;
	line-height: normal;

	&:hover {
		background-color: darken(#58a6ff, 10%);
	}
}

.green {
	background-color: #238636;

	&:hover {
		background-color: darken(#238636, 10%);
	}
}

.red {
	background-color: #da3633;

	&:hover {
		background-color: darken(#da3633, 10%);
	}
}
