.article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 2.4rem;
	margin-bottom: 24px;
	text-align: center;
}

.description {
	font-size: 0.9rem;
	color: #999;
	margin: 24px 40px;
	text-align: center;
}

.meta {
	display: flex;
	align-items: center;
	margin-bottom: 64px;
}

.writer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 40px;
	border-right: 1px solid #ddd;
	margin-right: 40px;
}

.writerIcon {
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.writerName {
	margin-left: 16px;
}

.thumbnail {
	width: 960px;
	height: auto;
	margin-bottom: 64px;
}

.content {
	width: 720px;
}
